<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389519037334-p0laab925aumadq4hbfr19fi7orqi6av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389519037334-p0laab925aumadq4hbfr19fi7orqi6av</string>
	<key>API_KEY</key>
	<string>AIzaSyC-HrtZv2HfgjaVAZowZCtzGLFI-c96AfE</string>
	<key>GCM_SENDER_ID</key>
	<string>389519037334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joji-engineer.stechTask2SNS</string>
	<key>PROJECT_ID</key>
	<string>stechtasksns</string>
	<key>STORAGE_BUCKET</key>
	<string>stechtasksns.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389519037334:ios:205278fbb1389ac07483b7</string>
	<key>DATABASE_URL</key>
	<string>https://stechtasksns.firebaseio.com</string>
</dict>
</plist>